version: "3"
services:
  web:
    image: "{{ web.service.image }}"
    ports:
      - "{{web.service.port}}:{{web.port}}"
    env_file:
      - "web.env"
    depends_on:
      - db
    restart: "{{ web.service.restart_mode }}"
  db:
    image: postgres:11
    expose:
      - "5432"
    env_file:
      - "db.env"
    volumes:
      - "{{db.service.volume}}:/var/lib/postgresql/data"
    restart: "{{ db.service.restart_mode }}"
volumes:
  {{db.service.volume}}:
