HOSTNAME={{web.hostname}}
SECRET_KEY_BASE={{web.secret_key_base}}
DATABASE_HOST={{db.host}}
DATABASE_USER={{db.user}}
DATABASE_PASS={{db.password}}
DATABASE_NAME={{db.db_name}}
PORT={{web.port}}
LANG=en_US.UTF-8
REPLACE_OS_VARS=true
COOKIE={{web.erlang.cookie}}
